# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Android Kotlin bindings (built by: cd core/rust && ./build.sh --android)
app/src/main/java/net/aliasvault/app/rustcore/uniffi/
app/src/main/java/uniffi
app/src/main/jniLibs/