@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers
@using Microsoft.Extensions.Localization
@using System.Text
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@inject IStringLocalizerFactory LocalizerFactory
@inject ILogger<ImportServiceChrome> Logger

<ImportServiceCard
    ServiceName="Chrome"
    Description="@Localizer["ChromeDescription"]"
    LogoUrl="img/importers/chrome.svg"
    AcceptedFileExtensions="AcceptedExtensions"
    ProcessFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["ChromeInstructionsPart1"]</p>
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["ChromeInstructionsPart2"]</p>
</ImportServiceCard>

@code {
    private IStringLocalizer Localizer => LocalizerFactory.Create("Components.Main.Settings.ImportExport.ImportServices", "AliasVault.Client");
    private static readonly string[] AcceptedExtensions = new[] { ".csv" };

    private static async Task<List<ImportedCredential>> ProcessFile(string filename, byte[] fileBytes)
    {
        var fileContents = Encoding.UTF8.GetString(fileBytes);
        return await ChromeImporter.ImportFromCsvAsync(fileContents);
    }
}
