@using AliasVault.ImportExport.Models
@using AliasVault.ImportExport.Importers
@using Microsoft.Extensions.Localization
@inject NavigationManager NavigationManager
@inject GlobalNotificationService GlobalNotificationService
@inject IStringLocalizerFactory LocalizerFactory
@inject ILogger<ImportServiceNordPass> Logger

<ImportServiceCard
    ServiceName="NordPass"
    Description="@Localizer["NordPassDescription"]"
    LogoUrl="img/importers/nordpass.svg"
    AcceptedFileExtensions="AcceptedExtensions"
    ProcessFileCallback="ProcessFile">
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["NordPassInstructionsPart1"]</p>
    <p class="text-gray-700 dark:text-gray-300 mb-4">@Localizer["NordPassInstructionsPart2"]</p>
</ImportServiceCard>

@code {
    private IStringLocalizer Localizer => LocalizerFactory.Create("Components.Main.Settings.ImportExport.ImportServices", "AliasVault.Client");
    private static readonly string[] AcceptedExtensions = new[] { ".csv" };

    private static async Task<List<ImportedCredential>> ProcessFile(string filename, byte[] fileBytes)
    {
        var fileContents = System.Text.Encoding.UTF8.GetString(fileBytes);
        return await NordPassImporter.ImportFromCsvAsync(fileContents);
    }
}
